/* This where the magic happens..let's get fancy*/

/* The @import rule allows you to import a style sheet into another style sheet */
/* Fonts - GoogleFont */
/* @import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:wght@700&display=swap');


/* Body */
body{ 
  margin:0;
  padding:0;
  height:100vh;
  font-family: 'Andada Pro', serif;
} 

/* Navigation */
.navbar{
  position: absolute;
  left: 0;
  font-weight: 400;
  width: 100%;
  top: 0; 
}

.nav-item,.nav-link {
  color: #495057;
  font-size: 1.2rem;
  position: relative;
  list-style-type: none; 
}

.navbar-brand{
  font-size: 1.9rem;
  color: #495057;
  font-weight: 700; 
}
/* ========================================================================== */
                          /* Section:Reveal */
/* ========================================================================== */
canvas {
  display:block;
  /* background: rgb(230, 231, 238); */
  background: white;
  position: fixed;
  z-index: -1;
}

/* Name */
.reveal{
  margin-top: 160px;
  margin-bottom: 20px;
  text-align: center;
}
/* This is the quote */
#reveal{
  /* margin-top: ;  */
  text-align: center;
}

h1{
  font-size: 60px;
  color:white;
  position:relative;
  display:inline-block; 
  animation: text-reveal .5s ease forwards;
  animation-delay: 1s;
} 
.quote{
  font-size: 25px;
  color:white;
  position:relative;
  display:inline-block;
  animation: text-reveal .5s ease forwards; 
  animation-delay: 1s;
}
h1 span,
.quote span{
  position:absolute;
  left:0;
  top:0;
  height:100%;
  width:0;
  background-color: rgb(38, 40, 48);
  /* opacity:0.98; */
  animation: overlay 1s ease forwards;
  animation-delay: .5s; 
}

@keyframes overlay{
  50%{
    width:100%;
    left:0;
  }
  100%{
    left:100%;
    width:0;
  }
}

@keyframes text-reveal {
  100%{
    /* color:rgb(101, 115, 179); */
    color:black;
  }
} 

/* Section: Portfolio */
.card-img-top:hover {
	transform: scale(1.1);	
}

.section-heading, h2{
  margin-top:130px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 2.5rem;
}

#projects1{
  margin-top:40px;
}

#projects2{
  margin-top:40px;
}

/* Section: About */
.about-section{
  margin-top: 140px;
  background-color: rgb(240, 240, 240);
  padding:10px;
  /* opacity:0.8; */
}
#about-comment {
  margin-bottom: 40px;
}

img{
  width: 80%;
  height: auto; 
}

/* Section: Contact */

#contact-section-container{
  padding: 80px;
}

/* /* Style inputs with type="text",type="email" */
input[type=text],[type=email], textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow user to vertically resize textarea */
}

/* Style button with a specific background color */
button[type=submit],[type=toTop] {
  background-color:rgb(101, 115, 179);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Apply a darker color when hovering over the submit button */
button[type=submit]:hover {
  background-color: rgb(46, 54, 90);
}
button[type=toTop]:hover {
  background-color: rgb(46, 54, 90);
}

/* ========================================================================= */
/* Section: Profile Links */

.profile-section{
  background-color: rgb(240, 240, 240);
  opacity:0.8;
}

.p-link{
  color:rgb(101, 115, 179)
}


/* Media Queries */
@media (min-width: 768px) {
	.container,
  .container-fluid,
  #particles-js {
		width: 100%;
	}
}
@media (min-width: 992px) {
	.container,
  .container-fluid,
  #particles-js{
		width: 100%;
	}
}
@media (min-width: 1200px) {
	.container,
  .container-fluid,
  #particles-js{
		width: 100%;
	}
}
